<div class="row text-center">
    {{#each row1}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row2}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row3}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row4}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row5}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row6}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row text-center">
    {{#each row7}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row8}}
        <div class="col">
            <button class="btn btn-warning m-3" style="width:60%"><a href="/books/{{this}}">{{this}}</a></button>
        </div>
    {{/each}}
</div>