<div class="row mt-1">
    <div class="col"><h2>Please select the letter that your book's title starts with:</h2></div>
</div>
<div class="row text-center">
    {{#each row1}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row2}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row3}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row4}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row5}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row6}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row text-center">
    {{#each row7}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>
<div class="row text-center">
    {{#each row8}}
        <div class="col">
            <form action="/books/{{this}}" method="get">
                <button type="submit" class="btn btn-warning m-3" style="width:60%">{{this}}</button>
            </form>
        </div>
    {{/each}}
</div>